body {
    background-color: #17191a;
    color: #c7c3bd;
  }

  #icon {
    border-radius: 50%;
  }

  .nav-link{
    color: #c7c3bd;
  }

  #proposta{
    font-size: 25px;
  }

  #patrocinadores{
    color: #c7c3bd ; 
    background-color: #17191a;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }